:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bkg-color: #ffffff;
  --primary-bkg-bt-color: #f5f4fa;
  --primary-title-color: #212121;
  --bkg-footer-color: #2f303a;
}
body {
  font-family: "roboto", sans-serif;
  color: #757575;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* h1,h2,h3,h4,h5,h6[color:var(#212121);] */
/* ------------HEADER------------ */
.header-logo,.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.accent-header {
  color: #000000;
}
.header-list a:hover,
.header-list a:focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.current {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

/* ------------HERO------------ */
.hero {
  background: var(--bkg-footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bkg-color);
}
.hero-bt {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-bkg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-bt:hover,
.hero-bt:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ----------BENEFITS------------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------WORK------------ */
.work-title,
.crew-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ----------CREW------------ */
.crew {
  background: var(--primary-bkg-bt-color);
}
.crew-item {
  background: var(--primary-bkg-color);
}
.crew-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.crew-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----------FOOTER------------ */
.footer {
  background: var(--bkg-footer-color);
}
.accent-footer {
  color: var(--primary-bkg-color);
}
.footer-location,
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.place {
  color: var(--primary-bkg-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ----------PORTFOLIO------------ */
/* -------НАШІ ПРОПОЗИЦІЇ----------- */
main {
  background-color: var(--primary-bkg-color);
}
.filter-bt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--primary-bkg-bt-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-bt:hover,
.filter-bt:focus {
  color: var(--primary-bkg-color);
  background-color: var(--accent-color);
}

.project-item a {
  text-decoration: none;
}
.project-title {
  font-style: normal;
    font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.project-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
